<h1 class="raleway">Edit post</h1>
<form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
  <div style="text-align:left;">
    <div class="row">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text"
                class="form-control"
                id="title"
                required
                name="title" [ngModel]="title">
        </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text"
              class="form-control"
              id="description"
              name="description" 
              required
              [ngModel]="description">
      </div>
    </div>
     <div class="row">
      <div class="form-group">
        <label for="body">Text</label>
        <textarea  id="post-editor"
                   class="form-control post-body"
                   name="body"
                   required
                   [ngModel]="body"
                    rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <button type="submit" class="btn-submit">Submit</button>
        <div *ngIf="success" class="alert alert-success">
        <strong>Post successfully edited!</strong></div>
      </div>
  </div>
  </div>
</form>
