.padding5{
    padding: 5px;
}

.post-header {
    margin-bottom: 27px;
    text-align: center;
}

.post-body{
    text-align: center;
}

.post-header .cat{
font-size: 22px;
font-weight: 400;
font-style: normal;
line-height: 1.25;
letter-spacing: 0px;
text-transform: none;
color: #aaa;
font-family: 'Bad Script', cursive;
}

.post-header .cat a {
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0px;
    text-transform: none;
    color: #aaa;
    font-family: 'Bad Script', cursive;
    text-decoration: none;
}

.post-header h1 a, .post-header h2 a, .post-header h1 {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #222;
}


.post-header .date {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #aaa;
    margin-right: 5px;
    font-size: 11px;
    font-family: Lora;
}

