<div class="actions-container row">
    <div>
        <div *ngIf="isAdmin" style="float: left">
          <a [routerLink]="['/post-edit', postId]" class="a-button margin5">Edit</a>
          <button (click)="deleted($event)" class="btn btn-danger margin5">Delete</button>
        </div>
        <div *ngIf="isLoggedIn">
          <a [routerLink]="['/post-full', postId]" class="a-button margin5">Add comment</a>
        </div>
    </div>
  </div>