<article class="post">
  <div class="post-header">
    <span class="cat">
      <a href="" rel="tag nofollow">{{post.title}}</a>
    </span>
    <h2>
      <span>
        <a href="">{{post.description}}</a>
      </span>
    </h2>
    <span class="date">Wednesday, March 04, 2015</span>
  </div>
  <div class="post-body" [innerHtml]="post.body">
   
  </div>
  <div class="post-share">
  </div>
</article>