<gg-header></gg-header>
<div class="container">
  <div class="row">
    <div class="eight columns">
      <gg-after-head></gg-after-head>
      <div style="text-align:center;">
      <router-outlet></router-outlet>
      </div>
    </div>
    <div class="one columns">
    </div>
    <div class="three columns">
      <gg-side-short-info></gg-side-short-info>
    </div>
  </div>
</div>
