.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    border: 5px;
    border-color: #000000;
    background-color: #000000;
    vertical-align: middle;
}
.navbar-header{
    float:left;
}

.navbar-brand{
    color: white;
    font-size: 30px;
    height: 50px;
    padding: 15px 15px;
    text-decoration: none;
}


ul.navbar-links {
    list-style-type: none;
}

ul.navbar-links li {
    float: left;
}

ul.navbar-links li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

ul.navbar-links li a:hover {
   font-weight: 600;
}

ul.dropdown-menu{
     list-style-type: none;
}

ul.dropdown-menu li{
    float:right;
}

ul.dropdown-menu li a{
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

ul.dropdown-menu li a:hover{
    font-weight: 600;
}