<nav class="fixed-nav-bar">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brogg blog</a>
    </div>
    <div class="navbar-header">
      <ul class="navbar-links">
        <li><a [routerLink]="['posts']">Home</a></li>
        <li *ngIf="isAdmin" ><a [routerLink]="['/post-create']">New Post</a></li>
      </ul>
    </div>
    <ul class="dropdown-menu">
      <li *ngIf="!isLoggedIn"><a [routerLink]="['/login']">Login</a></li>
      <li *ngIf="!isLoggedIn"><a [routerLink]="['/register']">Register</a></li>
      <li role="separator" class="divider"></li>
      <li *ngIf="isLoggedIn" ><a [routerLink]="['/logout']">Logout</a></li>
  </ul>
</nav>
      <!--<form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <!--<gg-headerdropdown>-->
   