.after-head{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    transform: translateX(150px);
    border-bottom: 1px solid;
    border-color: rgba(34,34,34,0.1);
}

img{
    max-width: 250px;
}