div.container{
    margin-top:250px;
    min-width:220px;
    transform: translateX(30px);
}
.short-info-container{
    text-align: center;

}
.short-info-head{
    text-align: center;
    margin-bottom: 10px;
    vertical-align: middle;
    border: 1px solid;
    border-color: rgba(34,34,34,0.1);
}

.short-info-title{
    font-family: Raleway;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2px;
}

.short-info-logo{
    width:65%;
}

.short-info-text{
    text-align: left;
    padding: 10px;
}
