<div class="container" [@divState]>
  <fieldset class="short-info-head">
      <legend class="short-info-title"><strong>About me</strong></legend>
  <div class="short-info-container">
     <img class="short-info-logo"src="{{avatarPath}}">
      <div>Welcome to The Broggblog.</div> 
      <div class="short-info-text">   
      <p>I'm <strong>Niki</strong> and I am a full stack web developer!
      Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
      ex ea commodo consequat.
      Duis autem vel eum iriure dolor in hendrerit in vulputate </p>
      </div>  
  </div>
  </fieldset>
</div>

