<div style="text-align:left;">
  <div *ngFor="let post of posts;">
    <gg-post [post]="post"></gg-post>
    <gg-post-actions (onDeleted)="onPostDeleted($event)" [isAdmin]="isAdmin" [isLoggedIn]="isLoggedIn" [postId]="post._id"></gg-post-actions>
    <div class="divider"></div>
  </div>
</div>