<div class="container comment row" style="text-align:left;">
  <form (ngSubmit)="AddComment(f.value)" #f="ngForm">
    <textarea class="comment" [(ngModel)]="text" name="text"></textarea>
    <button type="submit" class="bnt-submit comment" >Add</button>
  </form>
</div>