<div class="comment-body row" style="text-align:left;">
    <div>
    <span class="text">{{commentText}}</span>
   </div>
   <div>
       <span class="attribution">by {{commentAuthor}} at 14:23pm, 4th Dec 2016</span>
   </div>
</div>