<h1 class="raleway">Login</h1>
<form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
  <div>
    <div class="row">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text"
                class="form-control"
                id="username"
                required
                name="username" [ngModel]="username">
        </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
              class="form-control"
              id="password"
              name="password" 
              required
              [ngModel]="password">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <button type="submit" class="btn btn-success" >Login</button>
        <div *ngIf="success" class="alert alert-success">
        <strong>Successfully logged in!</strong></div>
      </div>
  </div>
  </div>
</form>