<h1 class="raleway">Create post</h1>
<form [formGroup]="postForm" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
  <div style="text-align:left;">
    <div class="row">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text"
                class="form-control"
                id="title"
                formControlName="title">
        </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text"
              class="form-control"
              id="description"
              formControlName="description">
      </div>
    </div>
     <div class="row">
      <div class="form-group">
        <label for="body">Text</label>
        <textarea  id="post-create-editor"
                   class="form-control post-body"
                   formControlName="body"
                    rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <button type="submit" class="btn-submit" [disabled]="!postForm.valid">Submit</button>
        <div *ngIf="success" class="alert alert-success">
        <strong>Success!</strong></div>
      </div>
  </div>
  </div>
</form>
