.alert-success{
    margin-top:5px;
}

.post-body{
    height: 250px;
}

.btn-submit{
    margin-top:10px;
}

h1{
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #222;
}