<div *ngIf="post" class="container" style="text-align:left;">
  <gg-post [post]="post"></gg-post>
  <div>
      <gg-add-comment *ngIf="post" (onAdd)="onNewComment($event)" [postId]="post._id"></gg-add-comment>
  </div>
</div>
<div *ngFor="let comment of comments;">
  <gg-comment [commentText]="comment.text" [commentAuthor]="comment.author"></gg-comment>
</div>